# Ignore virtual environment
venv/

# Ignore environment files
.env*
*.env

# Ignore model files
data/model/
*.pkl

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Editor and OS clutter
.vscode/
.DS_Store
Thumbs.db

# If you want to keep only specific CSVs, comment out the next line
# data/*.csv

# Allow tracked CSV files
!data/loan_dev_data.csv
