# Ignore virtual environment
venv/

# Ignore environment files
.env*
*.env

# ✅ Allow specific env file
!data/.env.dev

# Ignore model files
model/
*.pkl

# Ignore data files (optional)
data/*.csv

# ✅ Allow specific CSV file
!data/loan_dev_data.csv

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Editor and OS clutter
.vscode/
.DS_Store
Thumbs.db
