# Ignore virtual environment
venv/

# Ignore environment files
.env*
*.env

# Ignore model files
model/
*.pkl

# Ignore data files (optional)
data/*.csv

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Editor and OS clutter
.vscode/
.DS_Store
Thumbs.db